body {
    margin: 0;
}

#wrap {
    width: 1200px;
    margin: auto;
}

#wrap header {
    background-color: red;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wrap nav> ul {
    list-style: none;
    display: flex;
}

#wrap nav ul > li {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    width: 150px;
    text-align: center;
}

#wrap nav > ul > li:hover {
    background-color: rgb(26, 96, 161);
    color: #fff;
}

#wrap nav ul > li > a {
    text-decoration: none;
    color: inherit;
}

#wrap nav > ul > li {
    position: relative;
}

#wrap nav > ul > li:hover ul {
    display: block;
}

#wrap nav > ul > li > ul {
    position: absolute;
    top: 44px;
    left: 0;
    list-style: none;
    padding: 0;
    color: black;
    display: none;
}

#wrap header ul > li ul li {
    background-color: white;
}