* {
    width: 100%;
    margin: 0 auto;
    color: rgb(65, 65, 65);
}

a {
    text-decoration: none;
}

:root {
    --sub-color : rgb(5, 27, 153);
}

.title > div:nth-child(1) {
    font-size: 15px;
    color: #aaa;
}

.title span {
    font-size: 18px;
    font-weight: bold;
    color: var(--sub-color);
}

.title > div:nth-child(2) {
    margin-top: 10px;
    font-size: 30px;
    /* font-weight: bold; */
}

.button {
    width: 110px;
    line-height: 2;
    font-weight: 900;
    border: 1px solid var(--sub-color);
    color: var(--sub-color);
    text-align: center;
    font-size: 20px;
    border-radius: 1px;
}

header {
    padding-top: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#header img {
    width: 250px;
    object-fit: cover;
}

nav {
    display: flex;
    margin-top: 30px;
}

nav a {
    color: rgb(65, 65, 65);
}

nav > div {
    width: auto;
    font-size: 20px;
    font-weight: bold;
}

nav span a {
    color: var(--sub-color);
}