* {
    width: 100%;
    margin: 0 auto;
    padding: auto;
    color: #333333;
    font-family: sans-serif;
}

.highlight {
    color: goldenrod;
}

body {
    position: relative;
}

.title div:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
}

.title > div:nth-child(2) {
    font-size: 20px;
    margin-top: 5px;
}

.title div:nth-child(2) > span {
    color: var(--sub-color);
    font-weight: bold;
}

:root {
    --sub-color : #276fff;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 헤더(메뉴) */
header {
    position: fixed;
    z-index: 10;
    width: 100%;
}

header input {
    display: none;
}

#tab-area {
    margin-top: 60px;
    width: 120px;
    margin-right: 150px;
    position: relative;
}

#tab-area label {
    z-index: 100;
    position: absolute;
}

#tab-area label:nth-child(2) {
    margin-left: 80px;
}

#tab-area img {
    width: 50px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.menu-tab {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #c9bdb2d5;
    transition: all 1s;
    margin-left: 100%;
}

.menu-tab > label {
    margin-top: 60px;
    margin-left: 1570px;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    color: white;
}

.header-content1 {
    margin-top: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 32px;
}

.header-content1 a {
    color: #333;
    font-weight: bold;
}

.header-content2 {
    width:260px;
    margin-top: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-content2 > div {
    border: 1px solid rgb(65, 65, 65);
    width: 160px;
    height: 160px;
    margin-left: -1px;
    margin-top: -1px;
}

.header-content2 > div > div {
    font-size: 20px;
    font-weight: bold;
    color: #f4f4f4;
    text-align: center;
    margin-top: 10px;
}

.header-content2 img {
    width: 100px;
    filter: brightness(.5);
    margin-top: 10px;
    display: flex;
}

#open1:checked ~ #tab1 {
    margin-left: 0;
}

#open2:checked ~ #tab2 {
    margin-left: 0;
}



/* 헤더 */

/* 슬로건 */

#slogun-area {
    width: 250px;
    position: absolute;
    z-index: 1;
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
}

.slogun {
    width: 250px;
}

#intro {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

.go-menu {
    background-size: cover;
    background-position: center;
    filter: brightness(.7);
}

.go-menu:nth-child(1) {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('/resources/images/sizeDown/photo\ \(14\).jpg');
}

.go-menu:nth-child(2) {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('/resources/images/sizeDown/제목\ 없음-2.jpg');
}

.go-menu:nth-child(3) {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('/resources/images/sizeDown/photo\ \(4\).jpg');
}

.menu-info {
    width: 60%;
    background-color: #e2e2e2;
    margin-top: 45vh;
    height: 400px;
    border-radius: 20px;
    transition: all .5s;
    overflow: hidden;
}

.menu-info img {
    height: 250px;
    transition: all 1s;
}

.page-name {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

.page-info {
    margin-left: 20px;
    margin-top: 25px;
}

@keyframes colorChange {
    0% {
        color: var(--sub-color);
        text-decoration: underline 1px var(--sub-color);
    }
    50% {
        color: black;
        text-decoration: none;
    }
    100% {
        color: var(--sub-color);
        text-decoration: underline 1px var(--sub-color);
    }
}

.page-info span {
    animation: colorChange 2s linear infinite;
}

.page-btn {
    position: absolute;
    margin-left: 305px;
    margin-top: -50px;
    width: auto;
}

.page-btn img {
    width: 50px;
    height: 50px;
}

.menu-info a {
    transition: all .5s;
    font-size: 55px;
    font-weight: bold;
    color: var(--sub-color);
}

.menu-info a:hover {
    color: #002672;
}

.go-menu:hover {
    filter: brightness(1);
}


.menu-info img:hover {
    transform: scale(1.1);
}

/* .menu-info: */

/* footer */
footer {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -35px;
    font-size: 20px;
    letter-spacing: 2px;
}


/* event */

/* img */
#informationImg {
    height: 250px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#informationImg img {
    height: 100%;
}


/* img */

/* card */

#card {
    width: 70%;
    margin-top: 50px;
    padding-left: 250px;
}

#game-area {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 100px;
}

#card-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 80%;
    margin-left: 0;
}

.card {
    border: 1px solid #002672;
    background-color: #f7f7f7;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.clear {
    background-image: url('/resources/images/특산품/거창군_사과.jpg');
    background-position: center;
    background-size: cover;
}

.not-clear img {
    width: 60%;
    display: flex;
    margin-top: 45px;
}

#control-area > div:nth-child(3) {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    width: 50%;
    margin-left: 0;
}
#control-area > div:nth-child(3) > div {
    text-align: center;
    line-height: 2;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 0;
}

#control-area > div:nth-child(3) > div:nth-child(1) {
    background-color: #276fff;
    color: white;
}

#control-area > div:nth-child(3) > div:nth-child(2) {
    background-color: white;
    color: #276fff;
    border: 1px solid #276fff;
}

#control-area > div:not(#control-area > div:nth-child(3)) {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
#control-area span:not(#stamp span) {
    font-size: 16px;
    color: rgb(97, 97, 97);
    font-weight: lighter;
}

/* card */

/* stamp */

#stamp {
    width: 100%;
    margin-top: 100px;
}

#stamp-area {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 0;
}

#stamp-area > div {
    width: 90px;
    height: 90px;
    border: 1px solid #aaa;
    border-radius: 100%;
}

#stamp-area > div:nth-child(1) {
    background-image: url('/resources/images/makeImg/스탬프.svg');
    background-size: cover;
}

footer.sub {
    color: black;
    margin-top: 100px;
    padding-bottom: 30px;
}

/* stamp */

/* event */

/* review */

/* reviews */

#reviews {
    width: 70%;
    margin-top: 100px;
}

#review-area {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.review {
    display: grid;
    min-height: 260px;
    box-shadow: 5px 5px 10px rgb(235, 235, 235);
    border-radius: 3px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #f7f7f7;
}

.review img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    margin-left: 170px;
    object-fit: cover;
    filter: brightness(.8);
}

.review > div {
    margin-left: 30px;
    margin-right: 10px;
}

.sub-info:nth-child(1) {
    margin-top: 20px;
}

.sub-info:not(.sub-info:nth-child(1)) {
    margin-top: 10px;
}

.sub-info {
    font-size: 15px;
    font-weight: bold;
}

.sub-info > span:not(.gold) {
    font-size: 13px;
    color: rgb(110, 110, 110);
    font-weight: lighter;
}

.gold {
    color: goldenrod;
}

.main-info {
    width: 190px;
    font-size: 14px;
    line-height: 1.3;
    word-wrap: break-word;
    margin-top: 10px;
}

#review-write {
    position: fixed;
    margin-top: calc(100vh - 30px);
    width: 90px;
    text-align: center;
    line-height: 2;
    height: 30px;
    background-color: #276fff;
    color: white;
    font-weight: bold;
}




/* reviews */


/* review */

/* info */

#goods {
    width: 50%;
    margin-top: 100px;
}

#map-info {
    width: 200px;
    position: absolute;
    background-color: #fff;
    box-shadow: 5px 5px 5px #aaa;
    border: 1px solid #f7f7f7;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 410px;
}

#map-info img {
    height: 120px;
    filter: brightness(.6);
}

.area-name {
    position: absolute;
    margin-top: -125px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(241, 240, 240);
}

.map-info-txt {
    margin-top: 5px;
}

.map-info-txt > div:nth-child(1) {
    margin-left: 15px;
    color: var(--sub-color);
}

.map-info-txt hr {
    border-color: var(--sub-color);
    margin-top: 5px;
    
}

.map-info-txt > div:nth-child(2) {
    margin-left: 15px;
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 13px;
}

#map-main {
    display: flex;
    gap: 100px;
}

#map {
    width: 550px;
    height: 550px;
}


/* info */