* {
    width: 100%;
    margin: 0 auto;
    padding: auto;
    color: #333333;
    font-family: sans-serif;
}

.highlight {
    color: rgb(0, 0, 0);
}

body {
    position: relative;
}

.title div:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
}

.title > div:nth-child(2) {
    font-size: 20px;
    margin-top: 5px;
}

.title div:nth-child(2) > span {
    color: var(--sub-color);
    font-weight: bold;
}

:root {
    --sub-color : #276fff;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 헤더(메뉴) */
header {
    position: fixed;
    z-index: 10;
    width: 100%;
}

header input {
    display: none;
}

#tab-area {
    margin-top: 60px;
    width: 120px;
    margin-right: 150px;
    position: relative;
}

#tab-area label {
    z-index: 100;
    position: absolute;
}

#tab-area label:nth-child(2) {
    margin-left: 70px;
}

#tab-area img {
    width: 40px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.menu-tab {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 1s;
    margin-left: 100%;
}

.menu-tab > label {
    margin-top: 60px;
    margin-left: 1580px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
}

.menu-tab > label div {
    color: white;
    margin-top: -10px;
}

.header-content1 {
    margin-top: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 32px;
}

.header-content1 a:not(.highlight) {
    color: rgba(95, 95, 95, 0.493)
}

.header-content1 a {
    font-weight: bold;
}

.header-content2 {
    width:260px;
    margin-top: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-content2 > div {
    border: 1px solid rgb(65, 65, 65);
    width: 160px;
    height: 160px;
    margin-left: -1px;
    margin-top: -1px;
}

.header-content2 > div > div {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

.header-content2 img {
    width: 100px;
    filter: brightness(.5);
    margin-top: 10px;
    display: flex;
}

#open1:checked ~ #tab1 {
    margin-left: 0;
}

#open2:checked ~ #tab2 {
    margin-left: 0;
}



/* 헤더 */

/* 슬로건 */

#slogun-area {
    width: 250px;
    position: absolute;
    z-index: 1;
    display: flex;
    margin-left: 130px;
    margin-top: 20px;
}

.slogun {
    width: 250px;
}

#intro {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

.go-menu {
    background-size: cover;
    background-position: center;
    /* filter: brightness(.4); */
    transition: all .5s;
}

.go-menu:nth-child(1) {
    /* background-position: t; */
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url('/resources/images/sizeDown/photo\ \(16\)2.jpg');
}

.go-menu:nth-child(2) {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url('/resources/images/sizeDown/photo\ \(1\).jpg');
}

.go-menu:nth-child(3) {
    background-position: right;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url('/resources/images/sizeDown/photo\ \(22\).jpg');
}

.menu-info {
    width: 60%;
    background-color: #e2e2e2;
    margin-top: 35vh;
    height: 500px;
    border-radius: 20px;
    transition: all .5s;
    overflow: hidden;
}

.menu-info img {
    height: 280px;
    transition: all 1s;
}

.page-name {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -3px;
}

.tag {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
    margin-left: 20px;
}

.tag > div {
    display: grid;
    gap: 5px;
}

.tag > div:nth-child(1) {
    grid-template-columns: 2fr 1fr 1.5fr;
}
.tag > div:nth-child(2) {
    grid-template-columns: 1fr 2fr 1fr;
}

.tag > div > div {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    line-height: 2;
    text-align: center;
}

.page-btn {
    position: absolute;
    margin-left: 0px;
    margin-top: -60px;
    width: 70px;
    animation: start 1s linear forwards;
}
@keyframes start {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 285px;
    }
}

.page-btn img {
    width: 70px;
    height: 30px;
}


.menu-info a {
    transition: all .5s;
    font-size: 55px;
    font-weight: bold;
    color: var(--sub-color);
}

.menu-info a:hover {
    color: #002672;
}

.go-menu:hover {
    filter: brightness(1);

}

.menu-info:hover {
    /* margin-top: 43vh; */
}

.menu-info img:hover {
    transform: scale(1.1);
}

/* .menu-info: */

/* footer */
footer {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -35px;
    font-size: 20px;
    letter-spacing: 1px;
}


/* event */

#event {
    display: flex;
    width: 85%;
    gap: 50px;
    margin-top: 50px;
}

/* img */
#informationImg {
    width: 40%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#informationImg img {
    height: 100%;
}


/* img */

/* card */

#card {
    width: 70%;
}

#game-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 20px;
}

#card-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 80%;
    margin-left: 0;
}

.card {
    border: 1px solid #c3d7ff;
    background-color: #f7f7f7;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.clear {
    background-image: url('/resources/images/특산품/거창군_사과.jpg');
    background-position: center;
    background-size: cover;
}

.not-clear img {
    width: 60%;
    display: flex;
    margin-top: 45px;
    filter: grayscale(1);
}

#control-area > div:nth-child(3) {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    width: 80%;
    margin-left: 0;
}
#control-area > div:nth-child(3) > div {
    text-align: center;
    line-height: 2;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 0;
}

#control-area > div:nth-child(3) > div:nth-child(1) {
    background-color: #276fff;
    color: white;
}

#control-area > div:nth-child(3) > div:nth-child(2) {
    background-color: white;
    color: #276fff;
    border: 1px solid #276fff;
}

#control-area > div:not(#control-area > div:nth-child(3)) {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
#control-area span:not(#stamp span) {
    font-size: 16px;
    color: rgb(97, 97, 97);
    font-weight: lighter;
}

/* card */

/* stamp */

#stamp {
    width: 100%;
    margin-top: 100px;
}

#stamp-area {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
}

#stamp-area > div {
    width: 100px;
    height: 100px;
    border: 1px solid #aaa;
    padding: 5px;
    margin-right: -1px;
}

footer.sub {
    color: black;
    margin-top: 100px;
    padding-bottom: 30px;
}

/* stamp */

/* event */

/* review */

/* reviews */

#review {
    display: flex;
    margin-top: 40px;
    width: 85%;
    gap: 50px;
    height: 700px;
}

#reviews {
    width: 70%;
}

#review-area {
    width: 95%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 5px 5px 5px #aaa;
}

.review-content {
    display: flex;
    background-color: #f7f7f7;
}

.review-content > img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.review-txt > div:nth-child(1) {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

.review-txt > div:nth-child(1) > span {
    font-size: 18px;
    font-weight: lighter;
    margin-left: 6px;
    color: rgb(59, 59, 59);
}

.review-txt > div:nth-child(2) {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
    color: #333333;
}

.review-txt > div:nth-child(2) > span {
    color: goldenrod;
    font-size: 20px;
}

.review-txt > div:nth-child(3) {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(0, 0, 138);
}

.review-txt > div:nth-child(4) {
    text-align: right;
    margin-top: 10px;
    font-size: 15px;
    color: #aaa;
    width: 90%;
    padding-bottom: 10px;
}

#review-write {
    width: 100%;
    background-color: rgba(223, 197, 49, 0.431);
    position: fixed;
    margin-top: 92.4vh;
    line-height: 2;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    z-index: 1000;
}

/* reviews */


/* review */

/* info */

#map-zone {
    display: flex;
    width: 85%;
    margin-top: 70px;
    gap: 100px;
}

#goods {
    width: 60%;
}

#map-main {
    display: flex;
    gap: 100px;
}

#map {
    width: 700px;
    height: 700px;
}

#map-info {
    width: 200px;
    border: 1px solid rgb(240, 240, 240);
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #aaa;
    position: absolute;
    background-color: white;
    margin-top: 120px;
    margin-left: 350px;
}

#map-info > img {
    height: 120px;
}

.area-name {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 23px;
    font-weight: bold;
    color: var(--sub-color);
}

.map-info-txt {
    margin-left: 10px;
    margin-top: 6px;
    font-size: 15px;
    color: rgb(80, 80, 80);
    padding-bottom: 10px;
}


/* info */