* {
    width: 100%;
    margin: 0 auto;
    padding: auto;
    color: #333333;
}

body {
    position: relative;
}

.title > div:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
}

.title > div:nth-child(2) {
    font-size: 20px;
    margin-top: 5px;
}

.title > div:nth-child(2) > span {
    color: var(--sub-color);
    font-weight: bold;
}

:root {
    --sub-color : #276fff;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

/* 헤더(메뉴) */
header {
    width: 35%;
    margin-left: 0;
    position: fixed;
    z-index: 100;
}

header input {
    display: none;
}

.tab-area {
    margin-left: -10px;
    padding-left: 10px;
    display: flex;
}

.openBtn {
    z-index: 10;
}

.openBtn > img {
    width: 40px;
    background-color: #333333;
    padding: 3px;
    border-radius: 10px;
}

.tab {
    padding: 10px;
    width: 600px;
    position: absolute;
    margin-left: -650px;
    background-color: #333333;
    transition: all .5s;
}

.tab > ul {
    display: flex;
    width: 500px;
}

.tab > ul > li {
    width: auto;
    list-style: none;
    color: #ffffff;
    font-size: 18px;
}

#tab2 > .tab {
    width: 300px;
}

#tab2 > .tab > ul {
    width: 250px;
}

.closeBtn {
    margin-left: 580px;
    margin-top: -20px;
    color: rgb(119, 0, 0);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
}

#social-tab {
    margin-top: -12px;
}

.tab img {
    width: 40px;
    filter: brightness(.5);
    animation: social 4s linear infinite;
}

.tab img:nth-child(2) {
    animation-delay: 1s;
}

.tab img:nth-child(3) {
    animation-delay: 2s;
}

.tab img:nth-child(4) {
    animation-delay: 3s;
}

@keyframes social {
    0% {
        filter: brightness(1);
    }

    25% {
        filter: brightness(.5);
    }

    50% {
        filter: brightness(.5);
    }

    75% {
        filter: brightness(.5);
    }

    100% {
        filter: brightness(.5);
    }
}

#openMenu:checked ~ #tab1 > .tab {
    margin-left: 0;
}

#closeMenu:checked ~ #menu-tab {
    margin-left: -200px;
}

#openShare:checked ~ #tab2 > .tab {
    margin-left: 0;
}

#closeShare:checked ~ #social-tab {
    margin-left: -200px;
}

/* 헤더 */

/* 슬로건 */

#slogun-area {
    width: 99%;
    position: absolute;
    z-index: 10;
    display: flex;
}

.slogun {
    width: 300px;
}

#intro {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

.go-menu {
    background-size: cover;
    background-position: center;
    filter: brightness(.7);
    transition: all .5s;
}

.go-menu:nth-child(1) {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ),url('/resources/images/img/photo\ \(14\).jpg');
}

.go-menu:nth-child(2) {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ),url('/resources/images/img/photo\ \(21\).jpg');
}

.go-menu:nth-child(3) {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ),url('/resources/images/img/photo\ \(4\).jpg');
}

.menu-info {
    width: 60%;
    background-color: #e2e2e2;
    margin-top: 30vh;
    height: 400px;
    border-radius: 20px;
    transition: all .5s;
}

.menu-info img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 70px;
    margin-left: 20px;
}

.menu-info > div:nth-child(2) {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

.menu-info > div:nth-child(3) {
    margin-left: 20px;
    margin-top: 25px;
}

@keyframes colorChange {
    0% {
        color: var(--sub-color);
        text-decoration: underline 1px var(--sub-color);
    }
    50% {
        color: black;
        text-decoration: none;
    }
    100% {
        color: var(--sub-color);
        text-decoration: underline 1px var(--sub-color);
    }
}

.menu-info > div:nth-child(3) span {
    animation: colorChange 2s linear infinite;
}

.menu-info > div:nth-child(4) {
    position: absolute;
    margin-left: 325px;
    margin-top: -50px;
    width: auto;
}

.menu-info a {
    transition: all .5s;
    font-size: 55px;
    font-weight: bold;
    color: var(--sub-color);
}

.menu-info a:hover {
    color: #002672;
}

.go-menu:hover {
    filter: brightness(1);
}

.menu-info:hover {
    margin-top: 29vh;
}

/* .menu-info: */

/* footer */
footer {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -35px;
    font-size: 20px;
    letter-spacing: 10px;
}


/* event */

/* card */

#card {
    width: 70%;
    margin-top: 100px;
}

#card-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.card {
    background-color: #002672;
    width: 40%;
    height: 150px;
}

/* card */


/* event */