* {
    width: 100%;
    margin: 0 auto;
    padding: auto;
}

#sec-title {
    text-align: center;
}

#sec-title > div:nth-child(1) {
    font-size: 18px;
    color: #CA4444;
    font-weight: bolder;
}

#sec-title > div:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}

.more-button {
    border: 1px solid rgb(116, 116, 116);
    width: 140px;
    line-height: 2;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: rgb(85, 85, 85);
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    /* margin-top: 200px; */
    z-index: 100;
}

#header-back-color {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgb(238, 238, 238);
    z-index: -1;
    opacity: .8;
}

header img {
    width: 100px;
    /* height: 90px; */
    margin-left: -20px;
    object-fit: contain;
}

#left-header {
    width: 450px;
    display: grid;
    grid-template-columns: .6fr 1.6fr 1fr 1fr 1fr;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 35px;
}

#right-header {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    width: 300px;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 35px;
}

#right-header i {
    margin-top: 5px;
}

/*  */

#section1 {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#section1 img {
    position: absolute;
    height: 100%;
}

#visual {
    width: 100%;
    height: 100%;
    animation: vRotate 16s linear infinite
}

#vImg1 {
    top: 0;
    left: 0;
}

#vImg2 {
    top: 0;
    left: 100%;
}

#vImg3 {
    top: 0;
    left: 200%;
}

@keyframes vRotate {
    0% {
        transform: translateX(0%);
    }

    22.5% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    47.5% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    73.5% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-100%);
    }

    98.5% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/*  */

#section2 {
    width: 90%;
    margin-top: 90px;
}

#sec2-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

#sec2-img {
    width: 100%;
    height: 100%;
    position: relative;
    height: 500px;
    overflow: hidden;
    /* border-radius: 29px; */
}

#sec2-img > img {
    width: 100%;
    height: 500px;
    position: absolute;
}

.after {
    z-index: 1;
}

#sec2-img > .before {
    top: 0;
    left: 100%;
    z-index: 2;
    transition: all .4s linear;

}

#sec2-info:hover #sec2-img > .before {
    top: 0;
    left: 0;
}

.writer-id {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.writer-id > span {
    font-size: 14px;
    font-weight: lighter;
    color: rgb(112, 112, 112);
}

.score {
    display: flex;
    width: 200px;
    margin-top: 13px;   
}

.score > span {
    font-size: 14px;
    color: rgb(112, 112, 112);
    margin-top: 3px;
}

.score > div {
    display: flex;
    width: 200px;
    color: rgb(221, 188, 0);
    font-size: 25px;
}

/*  */

#section3 {
    width: 85%;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#sec3-title {
    margin-top: 250px;
}

#sec3-title > div:nth-child(1) {
    font-size: 20px;
    color: #CA4444;
    font-weight: bolder;
}

#sec3-title > div:nth-child(2) {
    font-size: 26px;
    font-weight: bolder;
    margin-top: 14px;
}
 
#sec3-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1050px;
    gap: 70px;
}

.sec3-sort {
    display: flex;
}

.sec3-sort:nth-child(2) {
    margin-top: 100px;
}

.sec3-sort:nth-child(3) {
    margin-top: 130px;
}

.expert-area img {
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
}

.expert-area {
    position: relative;
}

.expert-img, .expert-info{
    position: absolute;
    backface-visibility:hidden;
    transition:all .8s;
    border-radius: 80px;
    transform-style: preserve-3d;
}

.expert-info{
    width: 200px;
    height: 300px;
    transform:rotateY(180deg);
    background-color: white;
    border: .5px solid rgb(228, 226, 226);
    background-color: rgb(255, 255, 255);
}

.expert-info > div {
    width: auto;
    margin-top: 100px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(156, 156, 156);
}

.expert-info > div span {
    color: rgb(49, 49, 49);
    font-size: 18px;
    font-weight: bolder;
}

.expert-more-button {
    width: 80px;
    height: 25px;
    border: 1px solid rgb(104, 104, 104);
    text-align: center;
    margin-left: 40px;
    padding-top: 5px;
    margin-top: 10px;
    font-weight: bolder;
    color: #CA4444;
    background-color: white;
}

.expert-area:hover .expert-img {
    transform:rotateY(-180deg);
}

.expert-area:hover .expert-info {
    transform:rotateY(0deg);
}

/*  */

#section4 {
    width: 76%;
    margin-top: 360px;
}

#sec4-main {
    margin-top: 100px;
    display: flex;
}

.review {
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 500px;
    position: relative;
}

.review-content {
    width: auto;
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
    z-index: 2;
    color: rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    transition: all .5s;
}

.review-content span {
    font-size: 18px;
    color: white;
    font-weight: bolder;
}

.review-img {
    width: 700px;
    height: 500px;
    position: absolute;
    z-index: 1;
    filter: brightness(.4);
    transition: all .5s;
}

.score2 {
    display: flex;
}

.score2 > div {
    display: flex;
    width: 150px;
    color: gold;
    margin-left: 20px;
    margin-top: 3px;
}

#img1 {
    background-image: url("./resources/imgs/imgs/livingroom-1032733_1280.jpg");
}

#img2 {
    background-image: url("./resources/imgs/imgs/living-room-2155353_1920.jpg");
}

.sec4-btn {
    width: 100px;
    height: 30px;
    border: .5px solid white;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
}

.review:hover .review-content {
    opacity: .8;
}

.review:hover .review-img {
    filter: brightness(1);
}

/*  */

footer {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: .8fr .5fr 1fr;
    background-color: rgb(240, 241, 243);
    margin-top: 140px;
    padding-top: 20px;
}

#footer-logo {
     width: 150px;
     margin-left: 20px;
}

#compare-info {
    width: 800px;    
    line-height: 1.7;
    font-weight: 300;
    font-size: 14px;
    color: rgb(46, 46, 46);
    margin-left: 20px;
    margin-top: 10px;
}

#compare-info > div:nth-child(1) {
    font-weight: bolder;
    color: black;
    font-size: 15px;
}

#call {
    margin-top: 40px;
}

#call > div:nth-child(1) {
    font-size: 18px;
    font-weight: bolder;
}

#call > div:nth-child(2) {
    font-size: 38px;
    font-weight: bolder;
    margin-top: 10px;
    display: flex;
    width: 270px;
    margin-left: -20px;
}

#call i {
    margin-top: 10px;
    width: auto;
    font-size: 32px;
}

#footer-btn {
    margin-top: 40px;
    display: flex;
    width: 280px;
    margin-left: 0;
}

#footer-btn > div {
    width: 130px;
    line-height: 52px;
    text-align: center;
    border: .5px solid black;
    font-size: 14px;
    font-weight: bold;
}

#social-icons {
    display: flex;
    width: 200px;
    font-size: 35px;
    margin-top: 30px;
    margin-right: 20%;
    color: rgb(56, 56, 56);
}

/* #social-icons > i:nth-child(1) {
    color: blue;
}

#social-icons > i:nth-child(2) {
    color: rgb(228, 27, 0);
}

#social-icons > i:nth-child(3) {
    color: skyblue;
} */

#right-footer > div:nth-child(1) {
    display: grid;
    grid-template-columns: 1.2fr .75fr 1.25fr .75fr 1fr;
    width: 490px;
    font-weight: bolder;
    margin-top: 20px;
    font-size: 14px;
}

#copy-right {
    font-size: 17px;
    color: rgb(93, 93, 93);
    margin-top: 100px;
    width: 440px;
    margin-right: 20%;
}